@charset "ISO-8859-1";

html {
	font-family: Colligrapher;
	font-style: normal;
	font-weight: 100%;	
}

.logo {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.play {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.report {
	margin-top: 45px;
	display: flex;
	justify-content: center;
}

.exit {
	margin-top: 60px;
	display: flex;
	justify-content: center;
}

table {
	margin-top: 15px;
	width: 600px;
	height:422px;
    border: 3px solid #73AD21;
    padding: 10px;
    font-weight: bold;  
    text-align: center;
}

tr {
    min-width: 150px;
    height: 30px;
}

p {
    font-size: 25;
}

.tdLeft {
	text-align: left;
}