@charset "ISO-8859-1";

html {
	font-family: Colligrapher;
	font-style: normal;
	font-weight: 100%;	
}

.logo {
	margin-top: 15px;
	display: flex;
	justify-content: center;
}

.play {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.report {
	margin-top: 45px;
	display: flex;
	justify-content: center;
}

.exit {
	margin-top: 60px;
	display: flex;
	justify-content: center;
}


.table {
	margin-top: 15px;
	width: 50%;	
    border: 3px solid #73AD21;
    padding: 10px;
    font-weight: bold;  
}

.tablejogo {
	margin-top: 15px;
	width: 80%;	
 	position: absolute;
    border: 3px solid #73AD21;
    padding: 5px;  
    font-weight: bold;    
}

tr {
    min-width: 150px;
    height: 30px;
}

.minhatabela td {
 min-width: 150px;
}
